@import url("https://use.typekit.net/kdv6knn.css");

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  --teal: #3ccddd;
  --orange: #ff7247;
  --purple: #857de3;
  --grey: #a3a3a3;
}

.container {
  padding: .1rem 1rem;
  margin: 1rem 1rem 0;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
a {
  font-family: 'Neue Haas Grotesk Display Pro', Helvetica, Arial, sans-serif;
  letter-spacing: .1rem;
  text-align: center
}

p {
  font-size: medium;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: .05rem;
    position: relative;
    color: black;
}

img {
  max-width: 100%;
  display: inline-block;
}

hr {
    width: 100%;
    height: 1px;
    background: black;
    align-items: center;
}

/* component container */
.component-title {
    font-size: 37px;
    padding-top: 4rem;
    background: -webkit-linear-gradient(45deg,var(--orange),var(--teal));
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* top navigation */

nav {
  background: radial-gradient(var(--teal), var(--purple));
  box-shadow: 0 30px 40px rgba(0,0,0,.1);
}

header {
  position: sticky;
  top: 0;
}

.topnav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.topnav__logo {
  max-height: 48px;
}

.topnav__links {
  border-radius: 1rem;
}

.topnav__links--list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: space-evenly;
}

.topnav a {
  font-size: medium;
  color: black;
  text-align: left;
}
.topnav__links a {
  color: white;
}

.topnav__links--item a {
    transition: all .3s ease-out;
}

.topnav__links--item a:hover {
  border-bottom: 2px solid white;
  cursor: pointer;
}


a:hover {
    transition: all .3s ease-out;
    cursor: pointer;
}

.topnav__aside {
  justify-self: end;
}

.topnav .fa-arrow-right-bounce {
  padding-right: 1rem;
}

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateX(0);
    -ms-transform:     translateX(0);
    transform:         translateX(0)
  }
  40% {
    -webkit-transform: translateX(-30px);
    -ms-transform:     translateX(-30px);
    transform:         translateX(-30px)
  }
  60% {
    -webkit-transform: translateX(-15px);
    -ms-transform:     translateX(-15px);
    transform:         translateX(-15px)
  }
}
.fa-arrow-right-bounce {  
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.fa-arrow-right-bounce:hover {
  animation-name: bounce;
  -moz-animation-name: bounce;
}

/* Home hero */
.home-hero {
    background: radial-gradient(var(--teal),var(--purple));
    border-radius: 10px;
    text-align: center;
    padding: 2rem 3rem 0;
    justify-content: center;
    align-content: center;
    color: white;
}

.home-hero img {
    max-width: 100%;
    height: auto;
    padding: 6rem 8rem;

}

.home-hero__callouts {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    max-width: 1266px;
    padding: 0 5.5rem;
    align-content: center;
}
    /* scrolling pills */
.pill {
    font-size: large;
    font-weight: 300;
    color: black;
    display: inline-block;
    border: 1px solid black;
    border-radius: 25px;
    padding: .7rem;
    text-transform: uppercase;
    /*The text doesn't seem to be sitting on the baseline.... I tried text-align and text-justify center and it didn't seem to adjust anything*/
}

.pill--orange {
    color: var(--orange);
    border: 1px solid var(--orange);
}

.pill--teal {
    color: var(--teal);
    border: 1px solid var(--teal);
}

.pill--purple {
    color: var(--purple);
    border: 1px solid var(--purple);
}

/*
@keyframes scroll {
    from {
        margin-left: 100%;
        width: 500%;
    }
    
    to {
        margin-left: 0%;
        width: 100%;
    }
}
*/

.scroller {
    max-width: 1600px;
    overflow: hidden; /* I'm ok showing overflow w animation... but doing animation w css does make the page horizontally scrollable which is definitely weird and not QUITE right like the OG page does it */
    /* set animation for page 
    -webkit-animation-duration: 25s;
    animation-duration: 25s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    /* link to keyframe w animation rules 
    animation-name: scroll;
    -moz-animation-name: scroll; */
}

.scroller--inner {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    padding-block: .5rem;
    /* javascript to make the rest (animation/scroll) rly happen: https://www.youtube.com/watch?v=iLmBy-HKIAw */
}

/* Home About Info */
.home-about__body {
    padding: 5rem 10rem 2rem;
}

.home-info__button:hover {
    text-decoration: underline;
}

.home-info__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6rem;
    padding-right: 6rem;
    flex-shrink: 1;
}

.home-info__link-spacer {
    border-top: 1px solid black;
    margin-right: 15px;
    margin-left: 15px;
    width: 90%;
}

.home-info__link img {
    max-width: 84px;
}

.home-info__link-arrow {
    margin-left: 15px;
}

.home-info__link-text {
    white-space: nowrap;
}


/* Home People Group List (artists, djs, etc) */
.home-people__title {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(338px, 1fr));
    justify-content: center;
    align-self: center;
}

.home-people__title--block {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.home-people__groups {
    display: grid;
    grid-template-columns: repeat(3, minmax(338px, 1fr));
    /* alternate grid layout
    grid-template-columns: repeat(3, 1fr);
    grid-template-row: 1fr;
    */
    gap: .25rem
}

.home-people__groups-header {
    display: flex;
}

.home-people__groups-header--artists,
.home-people__groups-header--djs,
.home-people__groups-header--scientists {
    color: white;
    padding: 3rem;
    text-align: center;
    border-radius: 8px;
}

.home-people__groups-header--artists {
    background: radial-gradient(var(--purple),var(--orange));
}

.home-people__groups-header--djs {
    background: radial-gradient(var(--teal),var(--purple));
}

.home-people__groups-header--scientists {
    background: radial-gradient(var(--orange),var(--teal));
}

.home-people__groups-list {
    display: grid;
}

/* trying to use radio buttons to hide/show content in home-people__group */
.accordion {
    width: auto;
}

ul {
    padding-left: 0;
}

.home-people__groups-person {
    border-bottom: 1px solid black;
}

/* 
accordion rules
used for 
both 
People Groups
and 
Program List
*/

.accordion li {
    list-style: none;
    width: 100%;
    margin-bottom: 1rem;
    background: white;
    padding: 1rem;
    padding-top: 0;
    border-bottom: 1px solid var(--grey);
}
.accordion li label {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    letter-spacing: .08rem;
    font-weight: 400;
}
/* 
hides radio buttons 
for 
people-list 
and 
program-list */
.accordion label + input[type="radio"],
.home-program__timeslot-details + input[type="radio"] {
    display: none;
}
.accordion .home-program__timeslot {
    cursor: pointer;
}
.accordion-program li {
    border-top: 1px solid var(--grey);
    border-bottom: none;
}
.accordion label:hover {
    text-decoration: underline;
    cursor: pointer;
}
.accordion .person-bio,
.accordion .home-program__timeslot-description {
    padding: 0 1rem;
    line-height: 1.5rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
.person-bio p {
    text-align: center;
    padding-bottom: 1rem;
}
.accordion label + input[type="radio"]:checked + .person-bio,
.accordion-program + input[type="radio"]:checked + .home-program__timeslot-description {
    max-height: 400px;
}
/* HMMMMMMMM this ^^ rule isn't letting program description show... */

/* typography */
.home-people__groups h3 {
    font-size: 50px;
    font-weight: 400;
    margin-top: 0;
}
.home-people__groups p {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .8px;
    line-height: 16px;
    margin: 0;
}

.home-hero p {
    font-size: 27px;
    font-weight: 300;
}

.home-about__body {
    text-align: center;
    max-width: 1016;
    /*margin: 10rem;*/
    font-size: x-large;
    line-height: 130%;
    letter-spacing: .5px;
    font-weight: 400;
}

.email:hover {
    text-decoration: underline;
    transform: ease-out 0.3s;
    cursor: pointer;
}

.footer-intro p,
.footer-intro i {
    color: white;
}

.footer__team-name,
.footer__team-detail {
    font-size: small;
    letter-spacing: .8px;
}

.footer__team-name {
    font-weight: 800;
    margin: 1rem auto .25rem;
}

.footer__team-detail {
    margin: .1rem;
}

.footer-body {
    font-size: small;
    font-weight: 300;
    line-height: 16px;
    padding: 10rem 10rem 1rem;
}

.footer-callout__item p {
    font-size: larger;
    letter-spacing: .15rem;
    line-height: 24px;
}

/* home-program */
.home-program {
    padding: 4rem 0;
}

.home-program__title {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
}

.home-program h2 {
    justify-content: left;
}

.home-program__timeslot {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 4fr 1fr;
    justify-items: left;
    align-items: center;
}

.accordion .home-program__timeslot {
    padding-left: 0;
    padding-right: 0;
}

.home-program__timeslot i,
.home-program__timeslot img,
.home-program__timeslot time {
    align-self: center;
}

.home-program__timeslot img {
    justify-self: center;
}

.home-program__timeslot i {
    justify-self: right;
    padding-right: .25rem;
}

.home-program__timeslot-details {
    margin: .5rem .5rem .5rem 1rem;
    text-align: left;
    font-size: x-large;
    font-weight: 400;
}

.home-program__timeslot-description {
    grid-column: 2 / 5;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.home-program__timeslot-thumbnail {
    max-width: 100%;
    max-height: auto;
    padding: .25rem;
}

.home-program__timeslot:hover h3 {
    text-decoration: underline;
}

.home-program__timeslot-thumbnail .mus-thumbnail:hover {
    max-width: 100%;
    max-height: 105px;
    background: url("../components/img/mus_thumbnail_hover.png") no-repeat;
}
.home-program__timeslot-thumbnail .inst-thumbnail:hover {
    max-width: 100%;
    max-height: 105px;
    background: url("../components/img/inst_thumbnail_hover.png") no-repeat;
}
.home-program__timeslot-thumbnail .perf-thumbnail:hover {
    max-width: 100%;
    max-height: 105px;
    background: url("../components/img/perf_thumbnail_hover.png") no-repeat;
}

/* trying to make the gradient change on hover (and when the button is open), but it's not doing anything currently */
.mus-thumbnail:hover,
.mus-thumbnail:active {
    background-image: url('../components/img/mus_thumbnail_hover.png');
}

.inst-thumbnail:hover,
.inst-thumbnail:active {
    background-image: url('../components/img/inst_thumbnail_hover.png');
}

.perf-thumbnail:hover,
.perf-thumbnail:active {
    background-image: url('../components/img/perf_thumbnail_hover.png');
}

/* footer */

.partners-logos {
    background: radial-gradient(var(--teal), #ffffff);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2rem;
}

.partners-logos img {
    padding-left: 2rem;
    padding-top: 2rem;
    max-height: 6rem;
}

.parters--img img {
    max-width: 160px;
}

.footer {
    background: linear-gradient(#ff7247, #ffffff);
    margin-bottom: 4rem;
}

.footer-intro {
    padding: 1rem;
}

.footer-callout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 2rem;
}

.footer__links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

.footer__links a:hover {
    text-decoration: underline;
}

.footer__contact {
    font-size: x-large;
    font-weight: 800;
    padding-top: 8rem;
}

.footer__contact a {
    text-transform: none;
    font-weight: 800;
}

.footer__team {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    margin: 0 10rem 10rem;
}

.footer__copyright p {
    font-size: small;
}

.footer__copyright--link a {
    text-transform: capitalize;
    /* this isn't enforcing just the first letter of the words to be capitalized */
}

.footer__copyright a:hover {

    text-decoration: underline;
}

/* Component Library Side Nav */
.sidenav {
    background: radial-gradient(white, var(--grey));
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 240px;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 4rem 1rem;
}

.sidenav a {
    padding: 0 0 2rem;
    text-decoration: none;
    font-size: regular;
    font-weight: 800;
    display: block;
}

main {
    margin-left: 240px;
}