<!doctype html>

<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="assets/style.css">	
        <script src="https://kit.fontawesome.com/97d1e8b022.js" crossorigin="anonymous"></script>
        <title>Web Components for Conference on NOTHING Case Study</title>
    </head>
    
    <body>
        <header class="topnav">
            <img class="topnav__logo" src="assets/CON_logo.png" alt="logo">
    
            <nav class="topnav__links">
                <ul class="topnav__links--list">
                    <li class="topnav__links--item"><a href="#">People</a></li>
                    <li class="topnav__links--item"><a href="#">Program</a></li>
                    <li class="topnav__links--item"><a href="#" target="_blank">About</a></li>
                    <li class="topnav__links--item"><a href="https://goout.net/en/ndrx/pzehlbg/" target="_blank">Tickets</a></li>
                </ul>
            </nav>
    
            <aside class="topnav__aside">
                    <a class="topnav__language-toggle" href="#"><i class="fa-solid fa-arrow-right"></i>CS</a>
                     <!-- add this to class if you can figure out how to vertically-center this... fa-2x-->
            </aside>
        </header>
    
        <main class="container">
            <h1>The page</h1>
    
            <p>
                Here's
            </p>
    
            <p>
                some
            </p>
    
            <p>
                text
            </p>
    
            <p>
                to
            </p>
    
            <p>
                take
            </p>
    
            <p>
                up
            </p>
    
            <p>
                space
            </p>
    
            <p>
                and
            </p>
    
            <p>
                show
            </p>
    
            <p>
                positioning
            </p>
    
            <p>
                for
            </p>
    
            <p class="container grey_container">
                title of page
                <br>
                more
                <br>
                stuff
                <br>
                and more stuff here for width purposes
                <br>
                <br>
                and more
                <br>
                more
                <br>
                more
                <br>
                etc
                <br>
                etc
                <br>
                etc etc etc etc
                <br>
            </p>
    
            <p>
                etc
            </p>
    
            <p>
                etc
            </p>
    
            <p>
                etc
            </p>
    
            <p>
                etc
            </p>
    
            <p>
                etc
            </p>
    
            <p>
                etc
            </p>
    
            <p>
                etc
            </p>
    
            <p>
                etc
            </p>
    
            <p>
                etc
            </p>
        </main>
    </body>
    
</html>